.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: dodgerblue;
}

.form-container {
  max-width: 350px;
  background-color: #fff;
  padding: 20px;
  width: 100%;
}
.form-container h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.auth-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 10px;
}
.auth-form > input {
  height: 35px;
  border: 1px solid gray;
  border-radius: 10px;
  text-indent: 10px;
}
.auth-form ul {
  list-style-type: disc;
  margin-left: 25px;
}
.auth-form button {
  margin-top: 30px;
}